body{
  margin-top:130px;
}
.img-logo{
   height: 70px;
}
.menu{
  /*border:solid;*/
}
.menu-1{
  background: #e8008a;
}
.menu-2{
  background: #01adef;
}
.menu-3{
  background: #d7df29;
}
.menu-4{
  background: #5e2c8f;
}
.menu-5{
  background: #ffc410;
}
.menu-6{
  background: #4AF4FF;
}
@media screen and (max-width:768px) {
  .side-collapse-container {
    width:100%;
    position:relative;
    left:0;
    transition:left .4s
  }
  .side-collapse-container.out {
    right:200px
  }
  .side-collapse {
    top:72px;
    bottom:0;
    right:0;
    width:200px;
    position:fixed;
    overflow:hidden;
    transition:width .4s
  }
  .stickyHeader .side-collapse {
    top:55px
  }
  .side-collapse.in {
    width:0
  }
  .navbar-toggle {
    margin-top:12px
  }
  .navbar-background {
    position:absolute;
    display:block;
    height:100%;
    width:100%;
    background-color:#2793CB
  }
  #header2 .navbar-collapse {
    overflow-x:scroll;
    z-index:1000000;
    max-height:100%!important;
    border:medium none
  }
}
section {
  padding-bottom:30px
}
.side-collapse-container {
  margin-top:120px
}
.navbar-inverse {
  background-color:#FFF;
  border-color:transparent
}
#header1 {
  background-color:#FFF;
  border:medium none;
  border-radius:0px;
  top:0px;
}
#header1 a {
  font-size:12px;
  color:#777;
  padding:13px 6px 12px
}
#header1 a:hover {
  color:#337AB7;
  text-decoration: underline
}
/* HEADER 2 */
#header2 {
  background-color:#FFF;
  border:none;
  border-bottom:2px solid rgba(0,0,0,0.1);
  border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0
}
#header2 .navbar-brand {
  text-align:center;
  height:70px;
  padding:5px
}
#header2 .navbar-brand>img {
  display:block
}
#header2 .baseline-brand {
  font-family:Arial,Helvetica,sans-serif;
  color:#337ab7;
  font-size:12px;
  font-weight:100;
  text-transform:uppercase;
  letter-spacing:3px
}
#header2 .navbar-nav>li>a {
  text-transform:uppercase;
  margin:20px 10px;
  padding:10px;
  font-size:15px;
  color:#fff;
  background-color:transparent
}
#header2 .navbar-nav>li.dropdown>a .fa {
  color:#b8b8b8;
  font-size:14px
}
header.navbar {
  min-height: 55px
}
/* on scroll */
.stickyHeader #header1 {
  top:-45px;
  position:absolute;
  height:0
}
.stickyHeader #header2 .navbar-nav>li>a {
  padding:5px;
  margin:15px 10px 6px 10px
}
.stickyHeader #header2 .navbar-brand {
  padding:12px 0px 0 0;
  height:auto
}
.stickyHeader .navbar-brand img {
  height:30px;
  transition:all .4s ease-out;
  -moz-transition:all .4s ease-out;
  -webkit-transition:all .4s ease-out;
}
.stickyHeader .navbar-brand .baseline-brand {
  display:none
}
@media (max-width:768px) {
  .baseline-brand {
    display: none
  }
}
.a1{
 margin-top: 20px;
}
.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.carousel-holder {
    margin-bottom: 30px;
}
/*redes sociales*/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }